<div class="container">
  <div id="main-app">
    <section id="main">
      <section class="main-section clearfix">
        <div class="panel-default col-xs-9">

          <header class="main-header">
            <div class="btn-group">
              <div class="btn-group">
                <button class="dropdown-toggle btn btn-default" type="button">
                  <span>Sorted by : </span><span> </span><span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation" class=""><a href="#" tabindex="-1">title</a></li>
                  <li role="presentation" class=""><a href="#" tabindex="-1">value</a></li>
                  <li role="presentation" class=""><a href="#" tabindex="-1">rating</a></li>
                </ul>
              </div>
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span></button>
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-th"></span></button>
            </div>
          </header>

          <!---->

          <div class="row" ng-repeat="row in products">
            <div ng-repeat="item in row" id="{{item.id}}" title="{{item.title}}" class="col-xs-4 product-unit">
              <div class="panel inner  clearfix ">
                <img src="{{item.image}}" title="{{item.title}}" class="constrained-h">
                <ul>
                  <li>{{item.title}}</li>
                  <li><span>By: </span><span>{{item.authors}}</span></li>
                  <li>Paperback</li>
                  <li>
                    <div class="star">
                      <div class="mask-bg"><span class="glyphicon glyphicon-star"></span><span
                        class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span
                        class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></div>
                      <div class="mask" style="width:90%;"><span class="glyphicon glyphicon-star"></span><span
                        class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span
                        class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></div>
                    </div>
                  </li>
                  <li>({{item.ratings}}) customer reviews</li>
                  <li>Price : £{{item.value}}</li>
                </ul>
                <button class="btn btn-success" ng-click="addToBasket">Add to Basket</button>
              </div>
            </div>
          </div>
        </div>

        <!--basket -->
        <div class="kart-list panel-default col-xs-3">
          <div class="well panel panel-success "><p>Subtotal (1 item)</p>

            <div class="panel-heading">£35.79</div>
          </div>
          <div>
            <div id="id01-basket" title="The Pragmatic Programmer: From Journeyman to Master "
                 class="product-item fade-in"><span class="close glyphicon glyphicon-remove-circle"
                                                    title="Remove all"></span>
              <ul>
                <li>Price : £35.79</li>
                <li>(1) The Pragmatic Programmer: From Journeyman to Master</li>
              </ul>
              <a class="btn-link-custom btn-link" title="Remove one">Remove item</a></div>
          </div>
          <button class="btn btn-warning col-xs-12 "><span class="glyphicon glyphicon-shopping-cart"> </span><span>&nbsp; Proceed to checkout</span>
          </button>
          <div><span></span></div>
        </div>
        <!-- end basket -->
      </section>
      <footer class="footer panel-footer"><p>Conditions of Use &amp; SalePrivacy NoticeCookies &amp; Internet
        Advertising © 2015</p></footer>
    </section>
  </div>
</div>
